[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gitpython = "*"
tiktoken = "*"
langchain = "*"
chromadb = "*"
openai = "*"
tenacity = "*"
tqdm = "*"
tree-sitter-python = "*"
sentence-transformers = "*"
transformers = "*"
accelerate = "*"
langchain-community = "*"
langchain-openai = "*"
langchain-chroma = "*"

[dev-packages]

[requires]
python_version = "3.11"
